#root {
  display: flex;
  justify-content: center;
}

.App {
  /* align-self: center;
  display: flex;
  margin-top: 20px;
  padding-left: 600px;
  padding-right: 600px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  flex-direction: column; */
  display:flex;
  flex-direction: column;
  padding-top: 100px;
  width: 50%;
  align-self: center;
  
}
